<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <style>
    .error{
      color: red;
    }
  </style>
</head>
<body>
  <div id="app">
    <!-- エラーはこの位置に記述するのが一般的かと -->
    <p v-if="errors.length">
      <ul>
        <!-- ここでは順番を気にしないので:keyは不要 -->
        <li class="error" v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
    <!-- formタグに送信するときのバリデーションを記述するのが一般的 -->
    <!-- preventをしないとリロードされる -->
    <form @submit.prevent="validate">
      氏名
      <input type="text" v-model="yourName"><!--computedのyourNameをリアルタイムで見るためcontactを外す-->
      <br>
      <!-- hasError.yourNameがtrueならばerrorというクラスが付与される -->
      <p :class="{error: hasError.yourName}"> {{ contact.yourName.length }} / 20</p>
      <p v-show="hasError.yourName" class="error">氏名がなげーからしばく</p>
      電話番号
      <input type="text" v-model="contact.tel">
      <br>
      メールアドレス
      <input type="text" v-model="contact.email">
      <br>
      性別
      <input type="radio" value="male" v-model="contact.gender">男性
      <input type="radio" value="female" v-model="contact.gender">女性
      <input type="radio" value="other" v-model="contact.gender">その他
      <br>
      年齢
      <select v-model="contact.age">
        <!-- disabledをつけないとiphoneで不具合らしい -->
        <option disabled value="">年齢を選択してください</option>
        <option>10代</option>
        <option>20代</option>
        <option>30代</option>
        <option>40代~</option>
      </select>
      <br>
      メッセージ
      <textarea v-model="contact.message"></textarea>
      <br>
      このサイトを知った理由
      <input type="checkbox" value="Webサイト" v-model="contact.attracts">Webサイト
      <input type="checkbox" value="チラシ" v-model="contact.attracts">チラシ
      <input type="checkbox" value="その他" v-model="contact.attracts">その他
      <br>
      注意事項に同意する
      <input type="checkbox" v-model="contact.caution">
      <br>
      <input type="submit" value="送信">
    </form>

  </div>

  <script>
    let app = new Vue({
      el: '#app',
      data(){
        return {
          contact:{
            yourName: '',
            tel: '',
            email: '',
            gender: '',
            age: '',
            message: '',
            attracts: [],
            caution: false
          },
          errors: [],
          hasError:{
            yourName: false
          }
        }
      },
      methods: {
        validate(){
          this.errors = []
          if(!this.contact.caution){
            this.errors.push('注意事項に同意しろ')
          }
        }
      },
      computed:{
        yourName:{
          get(){
            // getのところは必ずreturnが必要
            return this.contact.yourName
          },
          set(value){
            if(value.length <= 20){
              this.hasError.yourName  = false
            } else {
              this.hasError.yourName = true
            }
            return this.contact.yourName = value
          }
        }
      }
    })
  </script>
</body>
</html>
